{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>To-Do List by Pedro</title>
</head>
<body>
    <h1>Editar Informações</h1>
    <form action="/atualizar_tarefas/{{ tarefa.id }}/" method="post">
        {% csrf_token %}
        <label for="">Titulo</label>
        <p>{{ form.titulo }}</p>
        <label for="">Descrição</label>
        <p>{{ form.descricao }}</p>
        <button type="submit">Atualizar Tarefa</button>
    </form>
</body>
</html>